@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

* {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --white-mid: hsl(0, 0%, 99%); /* light grey */
    --white-dark: hsl(0, 0%, 96%); /* grey */
    --white-darkest: hsl(0, 0%, 95%); /* mid-grey */
    --dark-blue:hsl(244, 17%, 20%);

    --black: hsl(0, 0%, 0%);
    --black-opac: hsla(0, 0%, 0%, 0.8);

    --grey-duo: hsl(0, 0%, 59%, 0.2);
    --grey-quad: hsl(0, 0%, 59%, 0.4);
    --grey-half: hsl(0, 0%, 59%, 0.5);

    --blue:hsl(226, 100%, 62%);
    --red:hsl(358, 73%, 42%);
    --red-dark:hsl(358, 73%, 38%);
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--white-mid);
}

.max-width {
    overflow-y: scroll;
    max-width: 1920px;
}

h1 {
    color: var(--black);
    margin: 0;
    font-size: 60px;
}

h2 {
    color: var(--black);
    margin: 0;
    font-size: 30px;
}

h3 {
    color: var(--black);
    margin: 0;
    font-size: 24px;
}

h4 {
    color: var(--black);
    margin: 0;
    font-size: 18px;
}

h5 {
    color: var(--black);
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

p {
    color: var(--black);
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

a:link, a:visited, a:active {
    cursor: pointer;
    color: var(--black);
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    outline: none;
    color: var(--dark-blue);
}

a:focus-visible {
    outline: 2px solid var(--blue);
}