.primary-btn {
    font-size: 16px;
    color: #fff;
    background-color: var(--blue);
    padding: 10px 20px;
    width: 280px;
    border-radius: 50px;
    border: solid 1px transparent;
    transition: background-color 0.3s, box-shadow 0.2s;
}

.primary-btn:hover {
    cursor: pointer;
    background-color: ;
}

.primary-btn:focus-visible {
    border: solid 1px #1A73E8;
    box-shadow: 0 0 0 2px rgba(39, 94, 254, .3);
    outline: none;
}

.primary-btn:disabled {
    color: rgb(44, 43, 60, 0.4);
    background-color: rgb(44, 43, 60, 0.03);
}

.primary-btn:disabled:hover {
    cursor: not-allowed;
    background-color: rgb(44, 43, 60, 0.03);
}


.input-label {
    color: #59586A;
    font-size: 16px;
    padding-bottom: 10px;
    display: block;
    width: 100%;
}

.input {
    box-sizing: border-box;
    caret-color: hsl(0, 0%, 0%, 0.5);
    background: var(--white);
    border: solid 1px hsl(0, 0%, 0%, 0.2);
    border-radius: 6px;
    color: hsl(0, 0%, 0%, 0.5);
    font-size: 16px;
    font-weight: 500;
    padding: 14px 16px;
    width: 100%;
    transition: border 0.2s, box-shadow 0.2s;
}

.input:hover {
    border: solid 1px #1A73E8;
}

.input:focus-visible {
    outline: none;
    border: solid 1px #1A73E8;
    box-shadow: 0 0 0 2px rgba(39, 94, 254, .3);
}

.input:invalid {
    border: solid 1px rgb(232, 26, 26);
}

.input:invalid:focus {
    box-shadow: 0 0 0 2px rgba(232, 39, 39, 0.3);
}
