.navbar {
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.navLinks a {
  padding: 10px;
}

.outlinedButton {
  padding: 8px 20px;
  border: 1px solid var(--black);
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
  transition: background 0.2s, box-shadow 0.2s;
}

.outlinedButton:hover {
  background-color: var(--grey-duo);
}

.outlinedButton:focus-visible {
  outline: none;
  border: solid 1px var(--blue);
  box-shadow: 0 0 0 2px var(--blue-dark);
}

@media only screen and (max-width: 495px) {
  .navbar {
    flex-direction: column;
  }

  .navLinks {
    gap: 0;
  }
}
