@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

* {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #3c68ff;
  --white: #fff;
  --light-grey: #fdfdfd;
  --grey: #f5f5f5;
  --mid-grey: #f2f2f2;
  --dark-blue: #2c2b3c;
  --black: #000;
}

html,
body,
#root {
  height: 100%;
}

body {
  /* overflow-y: scroll; */
  margin: 0;
  padding: 12px 24px 100px 24px;
  background-color: var(--light-grey);
}

.max-width {
  max-width: 1920px;
}

h1 {
  color: var(--black);
  margin: 0;
  font-size: 60px;
}

h2 {
  color: var(--black);
  margin: 0;
  font-size: 30px;
}

h3 {
  color: var(--black);
  margin: 0;
  font-size: 24px;
}

h4 {
  color: var(--black);
  margin: 0;
  font-size: 18px;
}

h5 {
  color: var(--black);
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

p {
  color: var(--black);
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

a:link,
a:visited,
a:active {
  cursor: pointer;
  color: var(--black);
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  outline: none;
  color: var(--dark-blue);
}

a:focus-visible {
  outline: 2px solid var(--blue);
}

.primary-btn {
  font-size: 16px;
  color: #fff;
  background-color: var(--blue);
  padding: 10px 20px;
  width: 280px;
  border-radius: 50px;
  border: solid 1px transparent;
  transition: background-color 0.3s, box-shadow 0.2s;
}

.primary-btn:hover {
  cursor: pointer;
  background-color: rgb(26, 115, 232, 0.95);
}

.primary-btn:focus-visible {
  border: solid 1px #1a73e8;
  box-shadow: 0 0 0 2px rgba(39, 94, 254, 0.3);
  outline: none;
}

.primary-btn:disabled {
  color: rgb(44, 43, 60, 0.4);
  background-color: rgb(44, 43, 60, 0.03);
}

.primary-btn:disabled:hover {
  cursor: not-allowed;
  background-color: rgb(44, 43, 60, 0.03);
}

.input-label {
  color: #59586a;
  font-size: 16px;
  padding-bottom: 10px;
  display: block;
  width: 100%;
}

.input {
  box-sizing: border-box;
  caret-color: hsl(0, 0%, 0%, 0.5);
  background: var(--white);
  border: solid 1px hsl(0, 0%, 0%, 0.2);
  border-radius: 6px;
  color: hsl(0, 0%, 0%, 0.5);
  font-size: 16px;
  font-weight: 500;
  padding: 14px 16px;
  width: 100%;
  transition: border 0.2s, box-shadow 0.2s;
}

.input:hover {
  border: solid 1px #1a73e8;
}

.input:focus-visible {
  outline: none;
  border: solid 1px #1a73e8;
  box-shadow: 0 0 0 2px rgba(39, 94, 254, 0.3);
}

.input:invalid {
  border: solid 1px rgb(232, 26, 26);
}

.input:invalid:focus {
  box-shadow: 0 0 0 2px rgba(232, 39, 39, 0.3);
}

.dialog {
  margin: 50px auto;
  background-color: var(--mid-grey);
  border-radius: 20px;
  padding: 40px 24px;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.dialog div {
  width: 100%;
}

.dialog button {
  margin-bottom: 20px;
}

.dialog h3 {
  text-align: left;
  margin-bottom: 20px;
}
