@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

* {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light;
  --white: hsl(0, 0%, 100%);
  --white-mid: hsl(0, 0%, 99%); /* light grey */
  --white-dark: hsl(0, 0%, 96%); /* grey */
  --white-darkest: hsl(0, 0%, 95%); /* mid-grey */
  --dark-blue: hsl(244, 17%, 20%);

  --black: hsl(0, 0%, 0%);
  --black-opac: hsla(0, 0%, 0%, 0.8);

  --grey-duo: hsl(0, 0%, 59%, 0.2);
  --grey-quad: hsl(0, 0%, 59%, 0.4);
  --grey-half: hsl(0, 0%, 59%, 0.5);

  --blue: hsl(226, 100%, 62%);
  --blue-dark: hsla(225, 99%, 57%, 0.3);
  --blue-opac: hsl(226, 75%, 50%);
  --blue-light: hsl(226, 100%, 62%, 0.05);

  --red: hsl(358, 73%, 42%);
  --red-dark: hsl(358, 73%, 38%);
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--white-mid);
}

img,
svg {
  user-select: none;
}

.max-width {
  max-width: 1920px;
  overflow-y: scroll;
  height: 100%;
}

h1 {
  color: var(--black);
  font-size: 60px;
}

h2 {
  color: var(--black);
  font-size: 30px;
}

h3 {
  color: var(--black);
  font-size: 24px;
}

h4 {
  color: var(--black);
  font-size: 18px;
}

h5 {
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
}

p {
  color: var(--black);
  font-size: 14px;
  font-weight: 500;
}

a:link,
a:visited,
a:active {
  cursor: pointer;
  color: var(--black);
  text-decoration: none;
  transition: color 0.2s;
  border: 1px solid transparent;
  transition: box-shadow 0.2s;
  border-radius: 5px;
}

a:focus-visible {
  outline: none;
  border: solid 1px var(--blue);
  box-shadow: 0 0 0 2px var(--blue-dark);
}

.fab-btn {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: var(--grey-duo);
  cursor: pointer;
  transition: background-color 0.2s;
  background-repeat: no-repeat;
  background-position: center;
}

.fab-btn:hover {
  background-color: var(--grey-quad);
}

.fab-btn:focus-visible {
  outline: none;
  border: 1px solid var(--black);
}

.primary-btn {
  font-size: 16px;
  color: #fff;
  background-color: var(--blue);
  padding: 10px 20px;
  width: 100%;
  max-width: 280px;
  border-radius: 50px;
  border: solid 1px transparent;
  transition: background-color 0.3s, box-shadow 0.2s;
}

.primary-btn:hover {
  cursor: pointer;
  background-color: var(--blue-opac);
}

.primary-btn:focus-visible {
  border: solid 1px var(--white);
  box-shadow: 0 0 0 2px var(--blue-dark);
  outline: none;
}

.primary-btn:disabled {
  color: rgb(44, 43, 60, 0.4);
  background-color: rgb(44, 43, 60, 0.03);
}

.primary-btn:disabled:hover {
  cursor: not-allowed;
  background-color: rgb(44, 43, 60, 0.03);
}

.input-label {
  color: #59586a;
  font-size: 16px;
  padding-bottom: 10px;
  display: block;
  width: 100%;
}

.input {
  box-sizing: border-box;
  caret-color: hsl(0, 0%, 0%, 0.5);
  background: var(--white);
  border: solid 1px hsl(0, 0%, 0%, 0.2);
  border-radius: 6px;
  color: hsl(0, 0%, 0%, 0.5);
  font-size: 16px;
  font-weight: 500;
  padding: 14px 16px;
  width: 100%;
  transition: border 0.2s, box-shadow 0.2s;
}

.input:hover {
  border: solid 1px var(--blue);
}

.input:focus-visible {
  outline: none;
  border: solid 1px var(--blue);
  box-shadow: 0 0 0 2px var(--blue-dark);
}

.input:invalid {
  border: solid 1px var(--red);
}

.input:invalid:focus {
  box-shadow: 0 0 0 2px var(--red-dark);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card {
  margin: 50px auto;
  background-color: var(--white-darkest);
  border-radius: 20px;
  padding: 40px 24px;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.card div {
  width: 100%;
}

.card button {
  margin-bottom: 20px;
}

.card img {
  width: 200px;
  height: 200px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }

  body {
    --white-mid: #2a2a2a;
    --black: #ffffff;
    --white-darkest: var(--grey-half);
    --white-dark: var(--grey-quad);
    color: var(--white);
  }

  svg {
    fill: var(--white);
  }
} */
