.wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/* MAIN CONTENT */

.main-view {
    flex: 1;
}

.example-canvas-wrapper {
    padding: 8px 0;
    height: 100%;
}

.example-canvas {
    height: 100%;
    min-width: 400px;
    background-color: var(--grey-half);
    border-radius: 5px;
}

/* SIDE NAV (RIGHT) */

.side-ex-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.side-wrapper {
    flex: 1;
    overflow-y: auto;
}

.side-view {
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
}

.example-screen {
    margin: 4px;
    height: 132px;
    border-radius: 5px;
    width: 250px;
    background-color: var(--grey-half);
}

.session-header {
    padding: 8px 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.session-header p {
    font-size: 12px;
}

.session-header h3 {
    font-size: 16px;
}

/* ROOM NAV (LEFT) */

.room-nav-wrapper {
    height: 100%;
}

.room-nav {
    height: 100%;
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-nav, .bot-nav {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.top-nav {
    margin-bottom: 6px;
}

#record {
    background-image: url(../icons/record.svg) ;
}

#play-pause {
    background-image: url(../icons/play.svg) ;
}

#video {
    background-image: url(../icons/videocam_on.svg) ;
}

#mic {
    background-image: url(../icons/mic_on.svg) ;
}

#screen-share {
    background-image: url(../icons/screen_share_on.svg) ;
}

#end-call {
    background-image: url(../icons/call_end.svg) ;
    background-color: var(--red);
}

#end-call:hover {
    background-color: var(--red-dark);
}

#copy-url {
    background-image: url(../icons/content_copy.svg) ;
}

#draw {
    background-image: url(../icons/brush.svg) ;
}

#message {
    background-image: url(../icons/chat.svg) ;
}

#fullscreen {
    background-image: url(../icons/fullscreen.svg) ;
}
